.sec2{
    text-align: center;
    padding: 5%;

  }

.sec2 h2{
    padding-bottom: 30px;
    text-transform: uppercase;

}
  
.sec2 img{
    width: 100%;
    height: 300px;
  }
  
.sec2 .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 22%; 
    margin: 10px; 
  }
  
.sec2 .test1{
      font-size: 80px;
      color:#ffffff;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0; 
      transition: opacity 0.3s ease;
  }
  
.sec2 .test1:hover{
    color: #33ff00;
   }
  
.sec2 .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    filter: brightness(70%);
    transform: scale(1.1);
  }
  
  
.sec2 .card:hover .test1{
    opacity: 1; 
  }
  
  
  
.sec2 .container {
    padding: 2px 16px;
  }
  
  
.sec2 .fa-star{
    color: gold;
  }


/* Mobile Style */

  @media screen and (max-width: 600px) {
    .sec2 .test1 {
        font-size: 30px; 
    }

    .sec2 .card {
        width: 45%; 
    }
}